.max-w-350 {
  max-width: 450px;
}

.sirens-column {
  width: 100%;
}

.whale-transactions-table > .table-responsive > .table {
  min-width: 950px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.h-75px {
  height: 75px;
  position: relative;
  top: -0.5px;
}

.arrow-column {
  width: 150px;
}

@media screen and (min-width: 1920px) {
  .max-w-350 {
    max-width: none;
  }
}
