.market-card {
  border-radius: 25px;
  width: 70%;
  height: 70%;
  margin: 20px auto;
  transition: 0.1s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  top: 0px;
  position: relative;
  transition: 0.3s;
  opacity: 0.8;
  background: radial-gradient(
    113.91% 113.91% at -11% -34.1%,
    rgb(39, 41, 61) 0%,
    #65538d86 100%
  );
  width: 300px;
  height: 250px;
}

.market-card:hover {
  box-shadow: 0 43px 50px rgb(0, 0, 0, 0.4);
  transition: 0.1s;
  top: -10px;
  position: relative;
  transition: 0.3s;
  opacity: 1;
}

.market-card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.market-icon {
  width: 100%;
  display: flex;
  position: absolute;
  top: -40px;
  justify-content: center;
}

.market-card-img {
  width: 65px;
  border-radius: 50%;
}

.market-button {
  background-color: rgba(137, 43, 226, 0.575);
  color: white !important;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.market-button:active {
  background-color: rgba(137, 43, 226, 0.301);
  transition: 0.3s;
}

.market-button-container {
  display: flex;
}

.market-data-row {
  display: flex;
  justify-content: space-between;
}

.market-cards-container {
  display: flex;
  gap: 25px 5vw;
  flex-wrap: wrap;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.align-right {
  text-align: right;
}
